[submodule "dwmblocks"]
	path = dwmblocks
	url = https://github.com/James-Steve/dwmblocks.git
[submodule "slock"]
	path = slock
	url = https://github.com/James-Steve/slock.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/James-Steve/dmenu.git
[submodule "st"]
	path = st
	url = https://github.com/James-Steve/st.git
[submodule "dwm"]
	path = dwm
	url = https://github.com/James-Steve/dwm.git
